.contacts {
  height: 700px;
  background-color: #eb5055;
  border-bottom: 6px solid #ea676b;

  div {
    h2 {
      color: #f0d8d9;
    }

    p {
      color: #f0d1d2;
    }

    form {
      float: left;
      width: 600px;
      @include clearfix;
    }

    .info {
      float: right;
      margin-top: 15px;
      width: 300px;
      color: #f0d8d9;
      @include clearfix;

      h3 {
        padding-bottom: 10px;
        font: bold 18px "Lato", sans-serif;
      }

      p {
        font: normal 12px "Lato", sans-serif;
        line-height: 2;
        text-align: justify;
      }

      .cont {
        li {
          display: inline-block;
        }
      }
    }
  }
}